{% extends 'public.base.html.twig' %}

{% block title %} {{ conference.title }} - Başvuru{% endblock %}

{% block body %}
    <div class="container-xl">
        <!-- Page title -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-auto">
                    <h2 class="page-title">
                        Konferans Başvurusu
                    </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="d-none d-lg-block col-lg-3 order-lg-1 mb-4">
                <div class="sticky-top">
                    <div class="card">
                        <div class="card-body text-center">
                            <h2 class="mb-3">{{ conference.title }}</h2>
                            <p class="mb-4 text-muted">
                                (Konferans)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card card-lg">
                    <div class="steps">
                        <span href="#" class="step-item" data-toggle="tooltip" title="Adım 1 - Başvuru Özeti">Adım 1 - Başvuru Özeti</span>
                        <span href="#" class="step-item active" data-toggle="tooltip" title="Adım 2 - Dosyalar">Adım 2 - Dosyalar</span>
                        <span href="#" class="step-item" data-toggle="tooltip" title="Adım 3 - Katılımcılar">Adım 3 - Katılımcılar</span>
                    </div>
                    <div class="card-body">
                        <div class="markdown">
                            <div class="card card-lg">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table card-table table-vcenter text-nowrap datatable">
                                            <thead>
                                            <tr>
                                                <th>Konferans Başlığı</th>
                                                <th>Başlangıç Tarihi</th>
                                                <th>Bitiş Tarihi</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            {{ include('application_files/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
